@use "../variables" as v;
#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#middle {
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100px;
    width: 100%;
    overflow: hidden;
}